@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 87vh;
    position: relative;
}

.main .box {
    height: 87vh;
    width: 100%;
    background-color: black;
    opacity: 0.65;
    position: absolute;
    top: 0;
}

nav {
    width: 75vw;
    height: 3.8rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 11;
}

nav img {
    width: 7.5rem;

}

.hero {
    height: calc(100% - 3.8rem);
    font-family: "Martel Sans", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 1.4rem;
    padding: 0 2rem;
}

.hero> :nth-child(1) {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 4.4rem;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.separator {
    height: 0.3rem;
    background-color: rgb(46, 44, 44);
}